<aside class="w-64 text-white flex flex-col sticky pt-4 top-0 mb-auto">
  <div class="text-justify w-64 tc-sidebar-title">
    <a class="block" href="/">
      <img src="/img/logo/logo-64x64.png" class="inline-flex md:me-2" />
      <span class="align-middle inline-block"> {{ .Site.Title }} </span>
    </a>
  </div>

  {{ $currentSection := .Section }}

  <nav class="flex-1 py-4">
    <ul>
      {{ $sections := index .Site.Data.sections "sections" }} {{ range $sections
      }}
      <li>
        {{ if eq .name $currentSection }}
        <a href="/{{ .name }}" class="active">{{ .title }}</a>
        <ul>
          {{ range (where site.RegularPages "Section" .name) }}
          <li>
            <a
              href="{{ .RelPermalink }}"
              class="{{ if eq .Permalink $.Permalink }}active{{ end }}"
              >{{ .LinkTitle }}</a
            >
          </li>
          {{ end }}
        </ul>
        {{ else }}
        <a href="/{{ .name }}">{{ .title }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>

  <div class="flex flex-row content-center my-auto">
    <div class="flex flex-col my-auto">
      <div class="font-bold mb-1">Follow on</div>
      <div class="flex flex-row sjjpace-x-5">
        <a
          href="https://www.linkedin.com/mynetwork/discovery-see-all/?usecase=PEOPLE_FOLLOWS&followMember=gituliar"
          target="_blank"
          title="LinkedIn"
          class="tc-sidebar-social"
        >
          <img src="/img/brands/linkedin.svg" />
        </a>
        <a
          href="https://github.com/gituliar"
          target="_blank"
          title="GitHub"
          class="tc-sidebar-social"
        >
          <img src="/img/brands/github.svg" />
        </a>
        <a
          href="https://twitter.com/OGituliar"
          target="_blank"
          title="Twitter"
          class="tc-sidebar-social"
        >
          <img src="/img/brands/x-twitter.svg" />
        </a>
      </div>
    </div>
    <!-- <div class="ml-auto inline-block">
      <img
        src="/img/profile-64x64.png"
        class="w-16 rounded-full scale-x-[-1]"
      />
    </div> -->
  </div>
</aside>
